#wrapper{
	width:1200px;
	
	margin:0 auto 0 auto;
	
}

header{
	width:1200px;
	float:left;
	background-color:#AFB4BA;
	color:white;
	text-align:center;
	vertical-align:middle;
	line-height:100px;
	font-family:arial;
	font-size:50px;
	height: 80px;
	border-radius: 45px;
	padding:0px;
	margin:0px;	
}

canvas{
	width:1150px;
	float:left;
	color:white;
	vertical-align:middle;
	line-height:120px;
	height: 160px;
	border-radius: 25px;
	padding:0px;
	margin: 1px 1px 1px 20px;

}

nav{
	vertical-align:middle;
	background-color:#AFB4BA;
	width:1200px;
	height:50px;
	display:block;
	border-radius: 25px;
	padding:0px;
	margin: 0px;
	float:left;
}

nav ul{
	
	
	list-style:none;
	font-size:18px;
	padding:0px;
	margin:0px;
}
nav ul li{
	
	display:inline;
}

nav ul li a{

	display:block;
	float:left;
	padding: 15px 45px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

nav ul li a:hover{

	background:#000000;
	color:#FCFFFD;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 15px 45px;
	margin: 0;
	text-decoration:none;
}

article{

	width:700px;
	background-color:#2B2B2A;
	float:left;
	color:white;
	padding: 1px;
	margin: 9;
}

section{

	width:693px;
	background-color:#AFB4BA;	
	padding: 2px;
	margin: 2px;
}

section img{

	float:left;
	padding:1px 10px 10px 1px;

}

section table{

	float:auto;
	padding:10px;
	margin:10px 80px 10px 100px;
	background-color: blue;

}


aside{

	width:449px;
	height:331px;
	background-color:#717478;	
	padding: 3px;
	margin: 8px;
	color:white;
	float:right;

	
	
	
}

footer{

	width:1200px;
	background-color:#AFB4BA;	
	padding: 10px 10px;
	margin: 3px;
	color:white;
	float:right;
	height:40px;
	text-align:center;
	vertical-align:middle;
	line-height:20px;
	border-radius: 25px;
	position: relative;
	bottom:0;
	margin-top: 200px;
}



#text{ 

color:white;
width:170;
left:5;
top:100"

}

#myInput {
    background-image: url('WAD project/IMAGES/magn.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 150%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid #000000; /* Add a black border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 25px;
}


* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;

}
input[type=submit] {
  background-color: black;
  color: #fff;
  border-radius: 25px;
padding: 12px 20px 12px 80px;
float: right;

}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: black;

}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #AFB4BA;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*
**********************************************************
Script 4b:Image Slide Show (slideshow1.html)
**********************************************************
*/
.thumbnails img {
	height: 40px; /* changes size of thumbnails*/
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}
.thumbnails img:hover {
	border: 4px solid #E858C6;
	cursor:pointer;
}
.preview img {
	border: 4px solid #444;
	padding: 1px;
	width: 800px;
}
/*
**********************************************************
Script 4c:Image Slide Show (slideshow2.html)
**********************************************************
*/
@keyframes fadey {
	0% { opacity: 0; }
	15% { opacity: 1; }
	85% { opacity: 1; }
	100% { opacity: 0; }
}
figure#slideshow {
	width: 80%;
	margin: 0 auto;
	position: relative;
}
figure#slideshow img {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: auto;
	opacity: 0;
}
figure#slideshow img:first-child { 
	position: relative;
}